/* fuentes */

@font-face {
  font-family: "fajala";
  src: url(../fonts/fuente.ttf) format("truetype");
  font-family: normal;
  font-style: normal;
}

/* Estilos generales */

* {
  padding: 0;
  margin: 0;
  /* font-family: sans-serif, Helvetica, Arial; */
  text-decoration: none;
}

.clearfix {
  clear: both;
  float: none;
}

body {
  background: url(../img/cubes.png) #f4f4f4;
}
.linea {
  background-color: red;
}

.alerta {
  padding: 5px;
  font-size: 14px;
  color: white;
  background: #78c4d4;
  box-shadow: 0px 1px 3px #ccc;
  margin-bottom: 20px;
  width: 85%;
  border-radius: 5px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.alerta-error {
  padding: 5px;
  background: #f14668;
  margin-bottom: 20px;
  width: 60%;
  border-radius: 5px;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Fin Estilos generales */

/* Cabecera */

#cabecera {
  width: 85%;
  height: auto;
  background: transparent;
  margin: 0px auto;
}

/* BLOG DE VIDEOJUEGOS */

#logo {
  float: left;
  width: 540px;
  height: 100px;
}

#logo a {
  font-family: "fajala", "Helvetica";
  font-size: 55px;
  margin-left: 10px;
  letter-spacing: 1px;
  color: #1687a7;
  text-shadow: 0px 0px 0px black, 1px 1px 0px black, 2px 2px 0px #6b6b6b;
  transition: all 100ms;
  line-height: 100px;
}

#logo a:hover {
  cursor: pointer;
  text-shadow: 0px 0px 0px black, -1px -1px 0px black, -2px -2px 0px #6b6b6b;
}

/* MENU */

#menu {
  clear: both;
  width: 100%;
  height: 45px;
  background: linear-gradient(to bottom, #f9f9f9 0px, #e9e9e9 100%);
  border: 1px solid #c9c9c9;
  border-radius: 9px;
  box-shadow: 0px 1px 1px #939393;
  overflow: hidden;
}

#menu ul {
  list-style: none;
}

#menu ul li {
  float: left;
  line-height: 45px;
  border-right: 1px solid #276678;
}

#menu ul li a:hover {
  background: #008891;
  color: white;
}

#menu ul li a {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 19px;
  color: #383737;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Fin cabecera */

/* CONTENEDOR */

#contenedor {
  width: 85%;
  height: auto;
  /* min-height: auto; */
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

/* BARRA LATERAL */

#sidebar {
  float: right;
  width: 27%;
  height: auto;
  min-height: auto;
}

#principal {
  float: left;
  width: 65%;
  min-height: 662px;
  background: rgba(255, 255, 255, 0.63);
  border-radius: 8px;
  box-shadow: 0px 0px 5px #eee;
  margin-left: 20px;
  overflow: hidden;
  padding: 20px;
}

#principal h1 {
  font-size: 35px;
  color: #444;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #ccc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#principal a {
  color: #333;
}

#principal h2 {
  font-size: 27px;
  color: #3498db;
  letter-spacing: 1px;
  margin-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#principal p {
  margin-top: 8px;
  text-align: justify;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#fecha {
  font-size: 15px;
  margin-top: 5px;
  color: #504747;
}
#ver_todas a {
  display: flex;
  border-radius: 8px;
  padding: 5px;
  color: white;
  background: #3498db;
  border: 1px solid white;
  cursor: pointer;
  width: 120px;
  margin: 0px auto;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Formulario */

.bloque {
  display: block;
  width: 90%;
  margin: 0px auto;
  margin-bottom: 35px;
  background: rgba(255, 255, 255, 0.63);
  padding: 20px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3),
    0px 0px 1px #fff inset, 0px -3px 2px rgba(0, 0, 0, 0.25) inset;
}

label,
input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 85%;
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  margin-bottom: 10px;
  padding: 5px;
}

input[type="submit"] {
  width: 130px;
  display: block;
  border-radius: 5px;
  padding: 5px;
  color: white;
  background: #3498db;
  border: 1px solid white;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#guardarItem {
  width: 130px;
  display: block;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 1px solid white;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
textarea {
  resize: none;
  width: 85%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.select {
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  width: 120px;
  overflow: hidden;
  background-color: rgb(198, 220, 230);
}

.select:before {
  content: "";
  position: absolute;
  right: 5px;
  top: 7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 5px 0 5px;
  border-color: #6a6262 transparent transparent transparent;
  z-index: 5;
  pointer-events: none;
}

.select select {
  padding: 5px 8px;
  width: 100%;
  border-radius: 5px;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  appearance: none;
}
.boton-azul {
  text-align: center;
  background: #3c415c;
  border-color: #fff;
  margin-bottom: 8px;
}

.boton-verde {
  text-align: center;
  background: #00917c;
  border-color: #fff;
  margin-bottom: 8px;
}

.boton-cerrar {
  text-align: center;
  background: #f3f4ed;
  border-color: #f3f4ed;
  margin-bottom: 8px;
  color: black;
}

.boton-naranja {
  text-align: center;
  background: #7eca9c;
  border-color: #7eca9c;
  margin-bottom: 8px;
}

.bloque h3 {
  margin-bottom: 15px;
  display: flex;
  font-size: 27px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #444;
  text-shadow: 1px 1px 2px #ccc;
  margin-bottom: 25px;
}

/* FOOTER */

#pie {
  clear: both;
  width: 95%;
  margin: 0px auto;
  background: linear-gradient(to bottom, #f9f9f9 0px, #e9e9e9 100%);
  border: 1px solid snow;
  border-radius: 8px 8px 0px 0px;
  color: #666;
  height: auto;
  padding: 10px;
  text-align: center;
}
/*Estilos para la caja de inicio y cierre de sesion*/
.sesion {
  text-align: center;
  font-size: 19px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: block;
  width: auto;
  margin: 0px auto;
  margin-bottom: 35px;
  background: #d1f2eb;
  padding: 15px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3),
    0px 0px 1px #fff inset, 0px -3px 2px rgba(0, 0, 0, 0.25) inset;
}
.boton_cierre_sesion {
  width: 120px;
  display: block;
  border-radius: 5px;
  padding: 5px;
  color: white;
  background: #535455;
  border: 1px solid #535455;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.boton_perfil {
  margin-bottom: 5px;
  width: 120px;
  display: block;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.boton_entrada {
  margin-bottom: 5px;
  width: 120px;
  display: block;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.boton_categoria {
  margin-bottom: 5px;
  width: 120px;
  display: block;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  background-color: #ffc107;
  border-color: #ffc107;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
